.body{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    
}
*{
    box-sizing: border-box;

}


.header{
    width: 100%;
    height: 55px;
    background-color: #095169;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto 40px;
    padding: 11px;
    
}


.logos{
    width: 18px;
    height: 18px;
    border-radius: 6px;
    background-color: #82c148;
    margin: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container p{
    display: block;
    color: white;
    margin: 6px;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.sections{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -35px 10px;
    list-style: none;
    padding: 3px 0px;
    color: white;
    font-family: 'Merriweather', serif;
}
.sections li{
    margin: 1px;
    padding: 3px;
}

.sections i{
    color: #82c148;
    height: 15px;
    width: 15px;
}


.flex::after, .flex::before{
    box-sizing: border-box;
}



/* navigation bar  */
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    position: relative;
    font-size: 10px;
    font-weight: bold;
    
}


.navbar::before{
    content: "";  
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2
}

#logo{
    
    margin: 10px 34px;
}

 #logo img{
    height: 100px;
    width: 150px;
    margin: 3px 4px;
}

/* Navigation bar: List styling */
.navbar ul{
    display: flex;
    font-family: 'Merriweather', serif;
}



.navbar ul li{
    list-style: none;
    font-size: 1rem;
}

.navbar ul li a{
    color: #074661;
    display: block;
    padding: 12px 9px;
    text-decoration: none;
}
.navbar ul li a:hover{
    border-bottom: 1px solid black;
    background-color: white;
}

/* Home section  */
#home{
    padding: 2px 200px;
    width: 100%;
    height: 545px;
    background:  url('/img/s1.jpg') no-repeat center center/cover;
    background-size: 100%;
    
}
.card{
    width: 60%;
    background-color: rgb(7, 111, 146);
    background-size: 100%;
    color: white;
    opacity: 0.7;
    position: relative;
    padding: 0px 66px;
    top: 100px;
    margin: 16px -200px;
    
}


.card h1{
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-align: left;
    justify-content: left;
    font-family: 'Merriweather', serif;
}

.card p{
    color: white;
    text-align: left;
    justify-content: left;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    
}

#home .btn{
    background: #82c148;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 12px 24px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    font-size: 13px;
}

.section{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 9px;
    background: #095169;
   
}

.section p{
    font-size: 1.3rem;
    color: white;
    margin: 10px 155px
}

.section .btn{
    background: #82c148;
    color: white;
    padding: 12px 24px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    font-weight: 300;
}

/* services container  */
.services-main{
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 40px auto;
}
.services-main h1{
    font-size: 2rem;
    color: #095169;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

.services-main p{
    font-size: 16px;
    margin: 10px 53px;
    
    font-family: 'Merriweather', serif;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: none;
    justify-content: center;
    align-items: center;

}

.services .box {
    padding: 8px;
    margin: 0;
}

.services .box .btn1{
    align-items: center;
    justify-content: center;
    background-color: #9bc870;
    border: 1px solid #9bc870;
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

.services .box img{
    display: block;
    margin: auto;
    height: 70px;
    
}
.services .box h2,
.services .box p{
    text-align: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

.offer {
        width: 100%;
        /* max-width: 1300px; */
        display: grid;
        grid-template-rows: 1fr;
        background: url('../img/img3.jpg') no-repeat center center/cover ;    
        margin: 0 auto;
        justify-content: space-around;
        background-size: 100%;
        color: white;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(15, 117, 148, 0.6);
 
}
.header1 {
    width: 60%;
    text-align: left;
    padding: 50px 100px;
}
.offer .section5{
    display: flex;
    height: 100px;
    justify-content: space-around;
    background: rgba(35, 192, 69, 0.671);
}

#video{
    margin: 12px 92px;

}
.container1{
    color: white;
    margin: 11px;
    padding: 10px;
    border: none;
    
}
.container1 .btn-1{
    background-color: #095169;
    font-size: 18px;
    padding: 9px 29px;
    border: 2px solid #095169;
    color: white;
}
.container1 .btn-2{
    color: #095169;
    font-size: 18px;
    padding: 9px 29px;
    border: 2px solid #095169;
    
}


.section-2 .container-1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

.container-1 h1{
    margin-top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(63, 63, 241);
}

.section-2 .container-1 .btn{
    padding: 14px 40px;
    border: 1px solid #9bc870;
    background-color: #9bc870;
}

.section-3{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 121, 231);
}

.section-3 .video-1{
    margin: 3px;
    justify-content: center;
    align-items: center;
}

.section-3 .container-3 h1{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 100%;
    margin: 12px 0;
    height: auto;
    color: white;
    background: rgba(43, 221, 221, 0.829);
    border-radius: 10px;
    overflow: hidden;
}

.slider .slides{
    display: flex;
    
}
.slider h1{
    text-align: center;
    color: white;
    background: rgba(43, 221, 221, 0.829);
}
.slider .feature{
    margin: 20px;
    /* display: none; */
    transition: 2s;
}
.slider input{
    display: none;
} 

.manual-nav{
    position: absolute;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

/* .manual-btn{
    border: 2px solid rgb(55, 182, 233);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
/* } */

 .section4{
    display: flex;
    height: 60px;  
    font-family: 'Merriweather', serif;
}

.section4 p{
    font-weight: bold;
    color: #095169;
    line-height: 30px;
    font-size: 1.3rem;
    margin-top: 8px;

}
.container7{
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.container7 .btn-2{
    margin: 5px ;
    height: 40px;
    border: 1px solid #82c148;
    display: flex;
    justify-content: center;
}
.container7 .btn-1{
    background: #82c148;
    color: #ffffff;
    padding: 5px 24px;
    text-transform: uppercase;
    
    border: none;
    margin-bottom: 10px;
    /* font-weight: 400; */
 }
.section4 .btn2{
    border: 1px solid #aaf168;
    padding: 4px 55px;
    font-size: 10px;
} 

.center{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: #095169;
    
}

.center ul{
    display: flex;
    font-family: 'Merriweather', serif;
}



.center ul li{
    list-style: none;
    font-size: 12px;
    padding: 0px 10px;
}

.footer1 {
    width: 100%;
    text-transform: uppercase;
    background: #095169;
    color: white;
    cursor: pointer;
    font-family: 'Merriweather', serif;
}

.flex-wrap{
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
}

.first,
.second,
.third,
.fourth{
    color:  #aaf168;
}

li{
    list-style: none;
}